.form-control {
  padding: 0.5em 1em;
  /* border-radius: 0.5em; */
  font-size: 1.6em;
  background-color: #dffbf6;
  border-radius: 100vh;
  border: 1px solid #adadad;
}
.calendar-container {
  width: 100%;
  font-size: inherit;
  border-radius: 3.2em;
  /* border: 2px solid #adadad; */
  .calendar-body {
    height: calc(100% - 4em);
  }

  .week {
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    &:last-child{
        .day{
            border-bottom-width: 0;
        }
    }
    .day {
      border: 1px solid #333537;
      font-size: 1.6em;
      padding: 0.5em;
      text-align: center;
      cursor: pointer;
      width: 100%;
      max-width: 9.5em;
      border-left-width: 0;
      border-top-width: 0;
      &:last-child {
        border-right-width: 0;
      }

      &:hover {
        background: #333537;
      }

      .day-index {
        &.today {
          border: 1px solid #333537;
          background-color: #3f93c3;
          padding: 0.5em;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          margin-bottom: 1em;
          color: #fff;
          /* aspect-ratio: 5 / 1; */
          border-radius: 100vh;
          min-width: 42px;
        }
      }
    }

    &.day-names {
      height: 4em;
      .day-name {
        border: 1px solid #333537;
        font-size: 1.7em;
        font-weight: 500;
        text-align: center;
        padding: 0.25em;
        border-left-width: 0;
        border-top-width: 0;
        &:last-child {
          border-right-width: 0;
        }
      }
    }
  }
}
.event-list {
  width: 100%;
  .event {
    width: 100%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
