.form {
  padding: 2em;
  border-radius: 1.2em;
  background-color: #ededed;
  border: 1px solid #949494;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: min(90%, 42em);
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  .form-label {
    font-size: 1.7em;
    font-weight: 500;
  }
  .form-control {
    padding: 0.5em 1em;
    border: 1px solid #adadad;
    border-radius: 100vh;
    font-size: 1.6em;
    background-color: #dffbf6;
  }
  .form-action {
    display: flex;
    justify-content: center;
    .btn {
      cursor: pointer;
      font-size: 1.6em;
      background-color: #2453ee;
      color: #fff;
      padding: 0.5em 0.8em;
      border-radius: 0.8em;
    }
  }
}
.form-control {
  padding: 0.5em 1em;
  /* border-radius: 0.5em; */
  font-size: 1.6em;
  background-color: #dffbf6;
  border-radius: 100vh;
  border: 1px solid #adadad;
}
.error-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style-type: disc;
  padding-left: 1.5em;
  .error {
    font-size: 1.4em;
    color: rgb(148, 8, 8);
  }
}

.widget-container {
  position: relative;
  .splitter {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0.5em;
    background-color: red;
    cursor: ew-resize;
  }
}
.widget {
  width: 5em;
  height: 20em;
  background-color: #939393;
  border: 2px solid #000;
  border-radius: 1.2em;
  position: relative;
}

.table-container {
  /* border-radius: 1.2em; */
  background-color: #fff;
  border: 1px solid #adadad;
}

.table-container.move {
  animation: move 350ms ease-in-out;
}

.calendar-table {
  th {
    font-size: 1.5em;
    font-weight: 500;
    border: 1px solid #adadad;
    &.sticky-th {
      box-shadow: inset -1px -1px 0 0 #adadad;
      border-width: 0 !important;
    }
  }
  --padding: 0.5em;

  thead {
    td,
    th {
      background-color: #e1ffc0;
    }
  }

  td {
    font-size: 1.5em;
    padding: var(--padding);
    border: 1px solid #adadad;
    background-color: #cffbf3;
    white-space: nowrap;
  }

  td.data-td {
    cursor: pointer;
    &:hover {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 3px solid rgb(232, 181, 28);
      }
    }
  }

  tr {
    &:first-child {
      th {
        padding: var(--padding);
        border-width: 0 1px 1px 0;
      }
    }
    &:last-child {
      th {
        padding: var(--padding);
        border-width: 0 1px 1px 0;
      }
    }
  }

  tr.main-tr {
    &:nth-child(odd) {
      td {
        background-color: #c5e2dd;
      }
    }
  }
}

@keyframes move {
  /* 0%{
    transform: translateX(-5em);
  }
  100%{
    transform: translateX(0)
  } */
}

.calendar-container {
  width: 100%;
  .calendar-body {
    height: calc(100% - 4em);
  }

  .week {
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    .day {
      border: 1px solid #adadad;
      font-size: 1.6em;
      padding: 0.5em;
      text-align: center;
      cursor: pointer;
      width: 100%;
      &:not(:first-child) {
        border-left-width: 0;
      }

      .day-index {
        &.today {
          border: 1px solid #adadad;
          background-color: #3f93c3;
          padding: 0.5em;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          margin-bottom: 1em;
          color: #fff;
          /* aspect-ratio: 5 / 1; */
          border-radius: 100vh;
          min-width: 42px;
        }
      }
    }

    &.day-names {
      height: 4em;
      .day-name {
        border: 1px solid #adadad;
        font-size: 1.7em;
        font-weight: 500;
        text-align: center;
        padding: 0.25em;
        &:not(:first-child) {
          border-left-width: 0;
        }
      }
    }
  }
}

dialog.event-dialog {
  height: 100vh;
  width: 100vw;
  background-color: unset;
  &[open] {
    display: grid;
    place-items: center;
    outline: unset;
    &::backdrop {
      background-color: #00000039;
      backdrop-filter: blur(2px);
    }
  }

  .event-details {
    h2 {
      position: relative;
      padding-left: 1.5em;
      &::before {
        content: '';
        position: absolute;
        height: 0.8em;
        width: 0.8em;
        border-radius: 0.6em;
        background-color: #2453ee;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
      & + * {
        padding-left: 2.2em;
      }
    }
  }
}

.event-list {
  width: 100%;
  .event {
    width: 100%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
