.form {
  padding: 2em;
  border-radius: 1.2em;
  background-color: #ededed;
  border: 1px solid #949494;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: min(90%, 35em);
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  .form-label {
    font-size: 1.7em;
    font-weight: 500;
  }
  .form-control {
    padding: 0.5em 1em;
    border: 1px solid #adadad;
    border-radius: 0.5em;
    font-size: 1.6em;
    background-color: #dffbf6;
  }
  .form-action {
    display: flex;
    justify-content: center;
    .btn {
      cursor: pointer;
      font-size: 1.6em;
      background-color: #2453ee;
      color: #fff;
      padding: 0.5em 0.8em;
      border-radius: 0.8em;
    }
  }
}
.form-control {
  padding: 0.5em 1em;
  border: 1px solid #adadad;
  border-radius: 0.5em;
  font-size: 1.6em;
  background-color: #dffbf6;
}
.error-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style-type: disc;
  padding-left: 1.5em;
  .error {
    font-size: 1.4em;
    color: rgb(148, 8, 8);
  }
}

.widget-container {
  position: relative;
  .splitter {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0.5em;
    background-color: red;
    cursor: ew-resize;
  }
}
.widget {
  width: 5em;
  height: 20em;
  background-color: #939393;
  border: 2px solid #000;
  border-radius: 1.2em;
  position: relative;
}

.table-container {
  border-radius: 1.2em;
  background-color: #fff;
  border: 2px solid #adadad;
}

.calendar-table {
  th {
    font-size: 1.5em;
    font-weight: 500;
    border: 1px solid #adadad;
    background-color: #cffbf3;
  }
  --padding: 0.5em;

  td {
    font-size: 1.5em;
    padding: var(--padding);
    border: 1px solid #adadad;
    background-color: #cffbf3;
    white-space: nowrap;
  }
  tr {
    &:first-child {
      th {
        padding: var(--padding);
        border-width: 0 1px 1px 0;
      }
    }
    &:last-child {
      th {
        padding: var(--padding);
        border-width: 0 1px 1px 0;
      }
    }
  }
}
