/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


input[type="date"],
input[type="month"]{
    position: relative;
    cursor: pointer!important;
    &::-webkit-calendar-picker-indicator{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}